@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.header_logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-right: 40px;
}
.header_logo a {
  font-family: "Raleway";
  color: #000;
}
.header_logo span {
  color: #2196F3;
}
.header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav ul li {
  margin-right: 50px;
}
.header nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}
.header nav a {
  color: #212121;
}
.header nav span {
  color: #2196F3;
}
.header .addres_link {
  display: flex;
  align-items: center;
}
.header_email {
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #2196F3;
}
.header_phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #757575;
}

main .main {
  min-height: 600px;
  min-width: 100%;
  background: #2F303A;
  text-align: center;
}
main .main h1 {
  padding-top: 200px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main input {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}
main .discription {
  min-height: 290px;
  display: block;
  margin: 0 auto;
  width: 70%;
}
main .discription h2 {
  margin-top: 60px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
main .discription ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}
main .discription ul li {
  width: 20%;
}
main .discription ul h3 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #212121;
}
main .discription ul p {
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
main .what_we_do {
  background-color: #fff;
  margin-top: 60px;
}
main .what_we_do h2 {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
main .what_we_do ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 95px;
}
main .about {
  min-height: 650px;
  background-color: #F5F4FA;
}
main .about h2 {
  padding-top: 95px;
  margin-bottom: 50px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #212121;
}
main .about .people {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 215px;
}
main .about .people h3 {
  margin: 30px 0 10px 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #212121;
}
main .about .people p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

.footer {
  background: #2F303A;
  padding: 60px 0 0 215px;
  min-height: 200px;
}
.footer_logo {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  font-family: "Raleway";
  color: #000;
}
.footer_logo span {
  color: #2196F3;
}
.footer p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  margin-top: 20px;
}
.footer_email {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.footer_phone {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}

/*# sourceMappingURL=style.css.map */
