@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
//.container {
//  width: 1200px;
//  margin: 0 auto;
//}
@import "blocks/header";
@import "blocks/main";
@import "blocks/footer";