.header {
  &_logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--link-color);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
  }

  nav {
    font-weight: 500;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-right: 50px;
      }
    }

    span {
      color: var(--link-color);
    }

    a {
      color: #212121;
    }

  }

  .addres_link {
    display: flex;
    align-items: center;
  }

  &_email {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;

    &:hover, &:focus {
      color: var(--link-color);
    }
  }

  &_phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;

    &:hover, &:focus {
      color: var(--link-color);
    }
  }
}

.header_links:hover, .header_links:focus {
  color: var(--link-color);
}