main {
  .main {
    min-height: 600px;
    min-width: 100%;
    background: #2F303A;
    text-align: center;

    h1 {
      padding-top: 200px;
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 44px;
      line-height: 60px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    input {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      background: #2196F3;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
    }
  }

  .discription {
    min-height: 290px;
    display: block;
    margin: 0 auto;
    width: 70%;

    h2 {
      margin-top: 60px;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #212121;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 60px;

      li {
        width: 20%;
      }

      h3 {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: #212121;
      }

      p {
        margin-top: 10px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #757575;
      }
    }
  }

  .what_we_do {
    background-color: #fff;
    margin-top: 60px;

    h2 {
      margin-bottom: 50px;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #212121;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin-bottom: 95px;
    }
  }

  .about {
    min-height: 650px;
    background-color: #F5F4FA;

    h2 {
      padding-top: 95px;
      margin-bottom: 50px;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #212121;
    }

    .people {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 215px;

      h3 {
        margin: 30px 0 10px 0;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #212121;
      }
      p {
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #757575;
      }
    }
  }
}